{% extends 'polls/base.html' %}


{% block title %}{{ user.first_name }}'s homepage {% endblock %}


{% block body_block %}
	<h2>{{ user.first_name }}'s HomePage</h2>


	{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

	<h3>age: {{ user.age }} </h3>
	<h3>Gender: {{ user.gender }}</h3>
	<h3>Info: {{ user.info }}</h3>
	<h3>hobbies: {{ user.hobbies }}</h3>
	<h3>height: {{ user.height }}</h3>
	<h3>weight: {{ user.weight }}</h3>
	<h3>birthday: {{ user.birthday }}</h3>
	<h3>website: {{ user.website }}</h3>


    {% if rel %}
        {%  for r in rel %}
        	    <div class="row">
	            <div class="col-sm-6 col-md-4">
		            <div class="thumbnail">
		            <img src='profile_images/IMG_0001.JPG' alt="no image">
		            <div class="caption">
		        <h3>{{ r.from_person.first_name }}</h3>
		        </div>
		        </div>
	            </div>
	            </div>
        {% endfor %}
    {% else %}
        You have no admirers yet
    {% endif %}

{% endblock %}
