{% extends 'polls/base.html' %}


{% block title %}{{ user.first_name }}'s homepage {% endblock %}


{% block body_block %}
	<h4>{{ user.first_name }}</h4>

	{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}


    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
            <li><a href="#">Photos</a></li>
            <li><a href="#">Admirers</a></li>
            <li><a href="#">Message</a></li>


          </ul>


        </div>

      </div>

            <div>{% block detail_block %}{% endblock %}
    </div>





{% endblock %}


    {% if rel %}
        {%  for r in rel %}
        	    <div class="row">
	            <div class="col-sm-6 col-md-4">
		            <div class="thumbnail">
		            <img src='profile_images/IMG_0001.JPG' alt="no image">
		            <div class="caption">
		        <h3>{{ r.from_person.first_name }}</h3>
		        </div>
		        </div>
	            </div>
	            </div>
        {% endfor %}
    {% else %}
        You have no admirers yet
    {% endif %}


