{% extends 'polls/detail.html' %}

{% load crispy_forms_tags %}

{% block detail_block %}

           </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">{{ user_id.first_name }}</h1>



          <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="/static/media/English_only.jpg" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>

          </div>

          <h2 class="sub-header">{{ user_id.first_name }}'s info</h2>

        <form id="user_form" method="post" action="/polls/about_edit/"
                enctype="multipart/form-data">

            {% csrf_token %}
            {% crispy update_form %}


            <input type="submit" name="update" value="Update" class="btn-primary" />
            <a href="polls/about" class="btn-primary">Cancel</a>
        </form>



{% endblock %}